<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PSRQuizApp"
        tools:targetApi="31">
        <activity
            android:name=".PerformanceActivity3"
            android:exported="false" />
        <activity
            android:name=".InstructionMaths4"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".InstructionMaths3"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".InstructionMaths2"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".InstructionMaths"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".ArahanBM4"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".ArahanBM3"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".ArahanBM2"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".ArahanBM"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".MQuiz4"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".MQuiz3"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".MQuiz2"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".MQuiz1"
            android:exported="true"
            android:parentActivityName=".MQuiz" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".PerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".BmQuiz3"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".LeaderBoardActivity"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".BMQuiz4"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".BMQuiz2"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".BMQuiz1"
            android:exported="true"
            android:parentActivityName=".BMQuiz" />
        <activity
            android:name=".MLesson6"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".MLesson5"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".MLesson4"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".MLesson3"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".MLesson2"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".MLesson1"
            android:exported="true"
            android:parentActivityName=".MLesson" />
        <activity
            android:name=".BMLesson6"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".BMLesson5"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".BMLesson4"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".BMLesson3"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".BMLesson2"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".BMLesson1"
            android:exported="true"
            android:parentActivityName=".BMLesson" />
        <activity
            android:name=".MQuiz"
            android:exported="true"
            android:parentActivityName=".Quiz" />
        <activity
            android:name=".BMQuiz"
            android:exported="true"
            android:parentActivityName=".Quiz" />
        <activity
            android:name=".MLesson"
            android:exported="true"
            android:parentActivityName=".Material" />
        <activity
            android:name=".BMLesson"
            android:exported="true"
            android:parentActivityName=".Material" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Material"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Quiz"
            android:exported="true"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>